h1 {
         text-align:center;
         font-family: Courier New;
         font-size: 800%;
         padding: 30px;

}



p{
  font-size: 140%;
  font-family: arial;
}

img {

display: flex;
padding: 10px;
margin: 0 auto;
border-radius: 130px;
}

h2{
  font-size: 50%;
  text-align:center;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  height: 300px;
}
